<h1>View your appointments</h1>
<hr />
<p>Click your name to Login</p>
<p>Not here? <%= link_to 'Register', new_user_path %></p>
<hr />
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
<% end %>
</ul>
