<h1>List of Doctors</h1>
<p>Click a doctor to see their current appointments or leave a review.</p>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= link_to doctor.name, doctor %>
    </li>
  <% end %>
</ul>
